"SR NO DETAILS
1 ENQUIRY RECEIVE FROM CUSTOMER
2 SEND REPLY TO CUSTOMER STATING THAT WE WILL QUOTE RATES SOON
3 SEND ENQUIRY TO MORE THAN 10-15 AGENTS
(TERMS, POL, POD, CARGO WT, COMMODITY, CARGO READY DATE)
4 FOLLOW UP AGENTS FOR THE RATES
5 TABULATE THE RATES RECED FROM AGENTS WITH ROUTING, T/TIME & EARLIEST ETD
6 SEND QUOTATION TO CUSTOMER
7 NEGOTIATE RATES WITH AGENTS
8 FOLLOW UP WITH CUSTOMER FOR QUOTATION
9 ON RECEIPT OF NOMINATION SEND AGENT DETAILS TO CUSTOMER
10 SEND NOMINATION EMAIL TO AGENT
11 FOLLOW UP WITH AGENT FOR SO COPY & STUFFING PLAN
12 FOLLOW UP WITH AGENT FOR HBL & MBL DRAFT FOR APPROVAL
13 SEND HBL DRAFT TO CUSTOMER FOR APPROVAL
14 WE CHECK BOTH HBL & MBL DRAFTS BEFORE SENDING APPROVAL EMAIL TO AGENT
(CNEE ADD, GST, PAN, IEC, EMAIL, NO & TYPE OF PKGS, CARGO WT, CONTAINER NO, SEAL NO, POL, POD, DESCRIPTION, HS CODE, INVOICE NUMBER & INV DATE, PO NO & DATE, FREIGHT TERMS, ETC
15 CHECKED THE SHIPMENT STATUS ON CARRIER WEBSITE
16 FOLLOW UP WITH SOB STATUS WITH AGENT
17 FOLLOW UP AGENTS FOR FINAL PRE-ALERT DOPCUMENTS (HBL, MBL & INVOICE)
18 SEND PRE-ALERT DOCUMENTS TO CUSTOMER, CLEARANCE & OPERATION WITH ETA DATE & FREIGHT CERTIFICATE
19 SEND REMITTANCE DOCUMENTS TO ACCOUNTS DEPARTMENT
20 TRACK THE SHIPMENT ON CARRIER WEBSITE IF TRANSHIPMENT INVOLVE
21 SEND EMAIL TO CUSTOMER ABOUT THE DELAY IN ARRIVAL DATE
22 FOLLOW UP WITH CUSTOMER FOR CLEARANCE DOCUMENTS & DELIVERY ADDRESS
23 PREPARE CHECKLIST BY CLEARANCE TEAM
24 SEND CHECKLIST TO CUSTOMER FOR APPROVAL
25 ON RECEIPT OF CHECKLIST APPROVAL, FILE THE BOE
26 SEND BOE COPY TO CUSTOMER FOR DUTY PAYMENT
27 UPDATE IGM DETAILS TO CUSTOMER
28 UPDATE INWARD DATE TO CUSTOMER
29 SEND FREIGHT BILLING INSTRUCTION TO ACCOUNTS DEPT
30 SEND FINAL INVOICE TO CUSTOMER WITH COURIER DETAILS
31 SEND ADVANCE PAYMENT DETAILS TO CUSTOMER
32 ONCE INWARD UPDATE REGISTRATION PROCESS
33 FOLLOW UP WITH CUSTOMER FOR DUTY PAYMENT
34 AFTER REGISTRATION , CLEARANCE PROCESS COMPLETE
35 FOLLOW UP WITH CLEARANCE TEAM & TRANSPORT TEAM FOR THE DELIVERY
36 COORDINATE WITH CUSTOMER FOR EWAY BILL
37 UPDATE VEHICLE DETAILS TO CUSTOMER WITH TENTATIVE ARRIVAL DATE
38 SEND DOCUMENTS TO ACCOUNTS TEAM FOR BILLING
39 SEND CLEARANCE INVOICE TO CUSTOMER WITH COURIER DETAILS
40 FOLLOW UP WITH CUSTOMER FOR THE PAYMENT AS PER CREDIT PERIOD
 
"